* {
  margin: 0;
  padding: 0;
}

body {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.newspaper-layout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 1fr 1fr 1fr;
  grid-template-areas: 
    "title title title"
    "feature-article feature-article cover-image"
    "secondary-article secondary-article cover-image"
    "small-article1 small-article2 small-article3";
  grid-gap: 1em;
  max-width: 90%;
}

.newspaper-layout > * {
  background-color: lightgrey;
  padding: 1rem;
  border-radius: 5px;
  text-align: justify;
}

p {
  font-size: 1.2rem;
}

h2 {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

h3 {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}

.cover-image img {
  max-width: 100%;
  border-radius: 10px;
}

.title {
  grid-area: title;
  background-color: black;
  color: whitesmoke;
  text-align: center;
  font-size: 1.6rem;
}

.feature-article {
  grid-area: feature-article;
}

.secondary-article {
  grid-area: secondary-article;
}

.cover-image {
  grid-area: cover-image;
  display: flex;
  align-items: center;
}

.small-article1 {
  grid-area: small-article1;
}

.small-article2 {
  grid-area: small-article2;
}

.small-article3 {
  grid-area: small-article3;
}
